<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Blueprint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blueprint</string>
				</array>
			</dict>
            <key>AppIcon-Plus-Pastel</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Plus-Pastel</string>
                </array>
            </dict>
			<key>AppIcon-Business</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Business</string>
				</array>
			</dict>
			<key>AppIcon-Minty</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Minty</string>
				</array>
			</dict>
			<key>AppIcon-Cupertino</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Cupertino</string>
				</array>
			</dict>
			<key>AppIcon-Plus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Plus</string>
				</array>
			</dict>
			<key>AppIcon-Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Green</string>
				</array>
			</dict>
			<key>AppIcon-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pastel</string>
				</array>
			</dict>
			<key>AppIcon-Starry</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Starry</string>
				</array>
			</dict>
            <key>AppIcon-Legacy-PP</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-PP</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-Clouds</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-Clouds</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-Coachella</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-Coachella</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-Apple</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-Apple</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-SoftColor</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-SoftColor</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-Pride</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-Pride</string>
                </array>
            </dict>
            <key>AppIcon-Legacy-Rinzler</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Legacy-Rinzler</string>
                </array>
            </dict>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
        <string>background-app-refresh</string>
		<string>remote-notification</string>
        <string>fetch</string>
        <string>processing</string>
	</array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.bradyv.Peapod.Dev.deleteOldEpisodes.v1</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
</dict>
</plist>
