<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Blueprint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blueprint</string>
				</array>
			</dict>
			<key>AppIcon-Clouds</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Clouds</string>
				</array>
			</dict>
			<key>AppIcon-Coachella</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Coachella</string>
				</array>
			</dict>
			<key>AppIcon-Cupertino</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Cupertino</string>
				</array>
			</dict>
			<key>AppIcon-Dev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dev</string>
				</array>
			</dict>
			<key>AppIcon-Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Green</string>
				</array>
			</dict>
			<key>AppIcon-Pastel</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pastel</string>
				</array>
			</dict>
			<key>AppIcon-Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pride</string>
				</array>
			</dict>
			<key>AppIcon-Rinzler</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Rinzler</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
        <string>fetch</string>
        <string>processing</string>
	</array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.bradyv.Peapod.Dev.deleteOldEpisodes.v1</string>
        <string>com.bradyv.Peapod.Dev.refreshEpisodes.v1</string>
    </array>
</dict>
</plist>
